/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700;800&display=swap');


/* Asterisk wildcard selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, .content {
    min-height: 100vh;
}

/* General style rules */
body {
    color: #115a10;
    font-family: "Cormorant Garamond", sans-serif;
}

/* About Us page need */
.content {
    display: flex;
    flex-direction: column;
    transition: margin-left 0.5s;
    margin-left: 0;
}

/* Header */
header {
    background-color: #115a10;
    opacity: .6;
    color: #daa520;
    padding: 20px 0;
    position: relative;
    top: 0;
    z-index: 5;
    width: 100%;
    box-shadow: 0 2px 4px #daa520;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
    font-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
    padding-top: 127px;
    padding-left: 15px;
}

#menu a:hover {
    border-bottom: 1px solid #ffffff;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 2px solid #daa520;
}

.burger-icon {
    display: block;
    color: #f7f7f7;
}

.close-icon {
    display: none !important;
    color: #f7f7f7;
}

#nav-toggle:checked~.nav-toggle-label .burger-icon {
    display: none;
}

#nav-toggle:checked~.nav-toggle-label .close-icon {
    display: block !important;
}

#nav-toggle {
    display: none;
}
/* Safari is not compatible. Slideshow on index page gets cut off when nav-bar toggle is activated. 
#nav-toggle:checked+.nav-toggle-label+.sidebar-nav+.content {
    margin-left: 200px;
}
*/
  /* When checked, bring it on screen */
#nav-toggle:checked+.nav-toggle-label+.sidebar-nav {
    left: 0;
}

/* Style for the sidebar navigation */

.sidebar-nav {
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    background-color: #115a10;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 7;
}

.sidebar-nav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: #f7f7f7;
    display: block;
    transition: 0.3s;
}

/* Position the toggle button (bars icon) on top left */

.nav-toggle-label {
    position: fixed;
    top: 5px;
    left: 10px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    z-index: 10;
    padding: 10px;
}

#horizontal-menu {
    background-color: inherit;
    display: none;
    list-style-type: none;
    margin-bottom: 10px;
}

#horizontal-menu li {
    display: inline-block;
    margin-right: 20px;
}

#horizontal-menu li:last-child {
    margin-right: 0;
}

#horizontal-menu a {
    color: #f7f7f7;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

/* Centering The River's House title */

#logo {
    text-align: center;
    padding-top: 20px;
}

/* Main */
main {
    flex: 1 0 auto;
    transition: transform 0.3s;
}

p ul {
    letter-spacing: 2px;
}

/* Slidewshow container */
.slide-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    position: sticky;
}

.slider {
    width: 100%;
    height: 100%;
    display: flex;
    animation: slider 60s infinite;
}

/* Individual slides */
.slide {
    width: 100%;
    flex: 0 0 auto;
}

/* Images within each slide */
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slider {

    0%,
    14% {
        transform: translateX(0);
    }

    15%,
    28% {
        transform: translateX(-100%);
    }

    29%,
    42% {
        transform: translateX(-200%);
    }

    43%,
    57% {
        transform: translateX(-300%);
    }

    58%,
    71% {
        transform: translateX(-400%);
    }

    72%,
    85% {
        transform: translateX(-500%);
    }

    86%,
    100% {
        transform: translateX(-600%);
    }
}

/* Intro text */

.separator {
    border: .7px solid #daa520;
    width: 30vw;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.separator::before {
    content: "";
    display: block;
    margin: 0;
    flex-grow: 1;
}

#intro-text {
    background-color: #ffffff;
    padding: 0 20px;
    font-size: 1.3em;
    margin: 1em;
    color: black;
    line-height: 1.8;
}

.openclose {
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    color: #115a10;
}

#ameneties>li {
    margin-left: 40px;
}

/* About Us Page */

.aboutustitle {
    text-align: center;
    margin: 50px auto 25px;
    font-size: 2em;
    font-style: italic;
}

.separator-center {
    border: .7px solid #daa520;
    width: 30vw;
    margin: 0 auto 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutus {
    margin: 30px 30px 50px;
    max-width: 765px;
}

.aboutus p {
    color: #3a3a3a;
    line-height: 1.5em;
    text-indent: 1em;
    letter-spacing: .7px;
    font-size: 1.3em;
    margin: 20px 0;
    text-align: center;
}

/* Gallery Page*/
.gallery {
    column-count: 1;
    column-gap: 16px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 15px;
}

.photos {
    break-inside: avoid;
    padding-bottom: 16px;
    width: 100%;
    box-sizing: border-box;
}

.photos img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Inquire Page styles */

.inquire-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.attention-container p {
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 5px;
    font-size: 1.3em;
    text-align: center;
}

.contact-button-container {
    margin-top: 20px;
}

.contact-button {
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 700;
    color: #115a10;
    padding: 10px;
    border: 1px solid #daa520;
    letter-spacing: .1em;
    line-height: 1.2em;
}

.collage-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.contact-collage {
    overflow: hidden;
    height: 50vh;
    margin: 10px;
}

.contact-collage img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.contact-info {
    text-align: center;
    box-sizing: border-box;
    margin: 90px;
}

.contact-info p {
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 2px;
    padding: 10px;
    font-weight: 800;
}

.contact-info a {
    text-decoration: none;
    color: #115a10;
}

/* Contact form */

.center h2 {
    padding: 15px 0;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: lighter;
}

.form-container {
    width: 95%;
    max-width: 700px;
    margin: 20px;
    padding: 20px;
}


.form-container input,
.form-container textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    height: 30px;
    border: 1px solid #daa520;
}

.form-container select {
    display: block;
    width: 50%;
    height: 30px;
    margin-bottom: 15px;
    border: 1px solid #daa520;
}

.names {
    display: flex;
    justify-content: space-between;
}

.names>div {
    width: 48%;
    /* Slightly less than 50% to account for any potential wrapping or spacing issues */
}

textarea {
    height: 100px;
    /* Setting a default height for the comments textarea */
}

input[type="date"] {
    width: 50%;
    border: 1px solid #daa520;
}

input[type="submit"] {
    background-color: #115a10;
    opacity: .7;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 150px;
    height: auto;
    text-transform: uppercase;
}

input[type="submit"]:hover {
    background-color: #daa520;
}

/* Map on inquire page */
iframe {
    width: 100%;
    height: 400px;
    display: flex;
    border: 0;
}


/* Footer */
footer {
    background-color: #daa52033;
    margin-top: auto;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks li {
    font-size: 1.2em;
}

.stay-in-touch {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-style: italic;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 100%;
}

footer li:before {
    content: "|";
    padding: 0 10px;
}

/* Media queries to make responsive*/

@media screen and (min-width:768px) {

    /*Header*/
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;

    }

    header nav {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }

    nav {
        box-shadow: none;
        width: 100%;
    }

    .burger-icon {
        font-size: 1.3em;
    }
    #horizontal-menu-wrapper {
        margin-bottom: 10px;
    }

    #horizontal-menu {
        display: block;
    }

    #horizontal-menu a {
        display: inline-block;
        vertical-align: bottom;
        font-size: 1.2em;
    }

    #menu {
        padding-top: 142px;
    }

    #horizontal-menu a:hover {
        border-bottom: 1px solid #ffffff;
    }

    #logo {
        line-height: 75px;
        font-size: 280%;
        padding-top: 20px;
    }


    /* Push main content downt to accomodate larger header */
    .slide-container {
        width: 100%;
        max-height: 800px;
    }

    .slide img {
        width: 100%;
        max-height: 800px;
    }

    /* About Us Page */

    .aboutus {
        margin: 0 auto 50px;
    }

    /* Responsive Inquire page for min-width 768px*/

    .collage-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .photos-left,
    .photos-right {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .contact-info {
        flex: 2;
        display: block;
        width: 100%;
        text-align: center;
    }

    .contact-collage {
        flex: 1;
        margin: 10px;
    }

    .contact-collage img {
        width: 100%;
        max-width: 100%;
        height: 100%;
       object-fit: cover;
    }
    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
    }

@media screen and (min-width: 992px) {

    /* Index page - Responsive intro-text */

    #column-container {
        column-count: 2;
        column-gap: 40px;
        break-inside: avoid;
        max-width: 70vw;
        margin: 0 auto;
    }
    #column1, #column2 {
        break-inside: avoid;
    }
    .separator {
        display: none;
    }

    .separator-center-home {
        border: .7px solid #daa520;
        width: 40vw;
        margin: 30px auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Responsive gallery */
    .gallery {
        column-count: 2;
    }

    /* Responsive Inquire Collage  */
    .collage-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        margin: 5px auto;
    }

    .photos-left,
    .photos-right {
        flex: 3;
        flex-direction: column;
    }

    .contact-info {
        flex: 1;
        margin: 0 20px;
        padding: 0 20px;
    }

    .contact-collage {
        flex: 3;
        margin: 5px 0;
    }

    .contact-collage img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /* Responsive map */
    .map-container iframe {
        display: flex;
        width: 100%;
    }

   /* Responsive contact form */

}


@media screen and (min-width: 1200px) {

    .slide-container {
        height: 100vh;
        width: 100%;
    }

    .slide img {
        height: 100vh;
        object-fit: cover;
        width: 100%;
    }
}