/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600&family=Merriweather:ital,wght@0,300;0,400;1,300&family=Montserrat:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');


/* Asterisk wildcard selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General style rules */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #115a10;
    font-family: "Cormorant Garamond", sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed; 
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #115a10;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: "Cormorant Garamond", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#115a10
}

}
.center {
    padding-left: 0;
}
#menu {
    font-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}
.active {
    border-bottom: 2px solid #115a10;
}

/* Navbar styles with dropdown toggle selector*/

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px rgb(17, 90, 16);
    display: none;
    top: 100%;
}

/*Nav toggle element*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-lable {
    font-size: 5rem;
}

/* Main */
main {
    background-color: rgb(98, 209, 237);
    /* Make main element take up any surplus space and push the footer down to the bottom */
    flex: 1 0 auto;
    margin-top: 38px;
}

/* Footer */

footer {
    background-color: pink;
}
/* Media queries to make responsive*/

@media screen and (min-width:768px) {
    /*Header*/
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }

    #menu > li {
        padding-left: 1rem;
        text-align: center;
    }
    #logo {
        line-height:75px;
        font-size: 280%;
        margin-bottom: 15px;
    }
 
    
    h1 {
        text-align: center;
    }
    .nav-toggle-label {
        display: none;
    }
    /* Push main content downt to accomodate larger header */
    main {
        margin-top:75px;
    }
}
@media screen and (min-width: 992px) {

#menu a:hover {
    border-bottom: 1px solid #115a10;
}
}